@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	body {
		@apply text-lg leading-relaxed;
	}
}

@layer components {
	
}

// Loading anim
.loader {
    width: 22px;
    height: 22px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
  

.gridItem > img {
	@apply rounded-2xl;
}

.list-title {
	@apply font-semibold text-xl mb-2 text-blue-500
}

// Marquee effect for text
.slider-container {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.slider-track {
	// display: inline-block;
	white-space: nowrap;
	animation: scroll 30s linear infinite;
}
@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
